.emailcard {
	/*background-color: #000000;*/
	width: 100%;
	height: 100%;
}

/deep/ .mat-dialog-container {
	background-color: #000000;
	padding: 3em;
    padding-left: 2em;
    padding-right: 2em;
}

h3 {
	color: #f08080;
}