<div id="artcontainer" class="container" fxLayout="column" fxLayoutAlign="end stretch" [ngx-scroll-to]="'#artcontainer'" [ngx-scroll-to-duration]="2000">
	<div class=title fxFlex = "100" fxLayout="row" fxLayoutAlign="center start">
		<h3>SVG SKETCHES</h3>
	</div>
	<div id="svggrid" fxFlex="1" class="tilerow" fxLayout="row" fxLayoutWrap="wrap" fxLayout.lt-sm="column" fxLayoutAlign="space-between center" fxLayoutGap="2%">
		<div fxFlex="20" fxFlex.lt-md="28" class="svgcontainer" *ngFor="let art of fullfilenames">
			<mat-card *ngIf="art.name" class="card mat-elevation-z8">
				<mat-card-header>
					<mat-card-title>{{art.textdate}}</mat-card-title>					
				</mat-card-header>
				<mat-card-content>
					<app-svganimateto [artdata]=art></app-svganimateto>
				</mat-card-content>					
			</mat-card>
		</div>
	</div>
</div>



<!-- 
<app-svganimateto *ngIf="fullfilenames[0]" [artdata]="fullfilenames[0]"></app-svganimateto> -->