.container {
	/*background-color: #d2d5d4;*/
	background-color: #c6c5c5;
	/*background-color: #f08080;*/
	width: 100%;
	height: auto;
	padding-bottom: 2%;
	padding-top: 2%;
}
.title {
	width: 100%;
	height: auto;
	color: #000000;
}

/*.tilerow {
	padding-left: 48px;
	padding-right: 48px;
	padding-bottom: 0px;
	height: auto;
	width: 100%;
}*/

.tilerow {
	padding-left: 48px;
	padding-right: 48px;
}
.svgcontainer {
	height: auto;
	width: 100%;
	margin-bottom:3%	
}

.card{
	padding:12px;
	margin: 5%;
	background-color: #000000;
	opacity: .62;
	margin-bottom: 5%;
}
.mat-card-title {
	font-family: "Simplifica";
	font-size: 1.5em;
	color: white;	
}
.mat-card-subtitle {
	font-family: "Simplifica";
	font-size: 1.2em;
	color: rgba(0,0,0,.54);
}