.container {
	background-color: #3e3c3cde;
	width: 100%;
	height: auto;
	padding-bottom: 2%;
	padding-top: 2%;
}


.sectiontitle {
	width: 100%;
	height: auto;
}

.paragraph {
	padding-left: 48px;
	padding-right: 48px;
}
.paragraph p {
	color: white;
}
h3 {
	color: #f08080;
    -webkit-margin-after: 0em;
}




.tilerow {
	padding-left: 48px;
	padding-right: 48px;
	padding-bottom: 24px;
	padding-top: 24px;
	height: auto;
	width: 100%;
	max-height:	30vh;
}

.card{
	padding:12px;
	opacity: 1;
	margin-bottom: 5%;
}
.mat-card-title {
	font-family: "Simplifica";
	font-size: 1.5em;
	color: black;	
}
.mat-card-subtitle {
	font-family: "Simplifica";
	font-size: 1.2em;
	color: rgba(0,0,0,.54);
}
.workimg {
	height: auto;
	width: 100%;
	max-width: 100%;
}
.worktile p {
	font-family: "Simplifica";
	font-size: 1.2em;
	color: black;
	padding: 2%;
}
.worktile img {
	max-width: 80vw;
}

