.container {
	background-color: #ffffff;
	width: 100%;
	height: auto;
	padding-bottom: 2%;
	padding-top: 2%;
}

img {
	max-width: 100%;
	height: auto;
}

.sectiontitle {
	width: 100%;
	height: auto;
}

.tilerow {
	padding-left: 48px;
	padding-right: 48px;
	padding-bottom: 24px;
}

.imgcontainer {
/*	margin:5px;*/
	/*background-color: pink;*/
}

.paragraph {
	padding-left: 48px;
	padding-right: 48px;
}

h3 {
    -webkit-margin-after: 0em;
}

p {
	letter-spacing: .04em;
}




