<div id="photocontainer" class="container" [ngx-scroll-to]="'#photocontainer'" [ngx-scroll-to-duration]="2000">
<!-- <div flexLayout="column" flexLayout.xs="column" id="container"> -->
	<div fxAlign="center" fxLayout="column" fxLayoutAlign="center center" id="adventuretitle" class="sectiontitle">
		<h3>OUTDOORS</h3>
	</div>
	<div class="tilerow" fxLayout="row" fxLayoutAlign="space-around center" fxLayout.xs="column" fxLayoutGap="5%">
		<div fxFlex class="imgcontainer">
			<img class="advimg mat-elevation-z8" src="assets/images/jackson_bw.jpg" layout-fill>
		</div>
		<div fxFlex class="imgcontainer">
			<img class="advimg mat-elevation-z8"  src="assets/images/backlitclimber_bw.jpg" layout-fill>
		</div>
		<div fxFlex class="imgcontainer">
			<img class="advimg mat-elevation-z8" src="assets/images/runboze_bw.jpg" layout-fill>
		</div>
	</div>
</div>