<div id="photocontainer" class="container" fxLayout="column" fxLayoutAlign="center center" [ngx-scroll-to]="'#photocontainer'" [ngx-scroll-to-duration]="2000">
<!-- <div flexLayout="column" flexLayout.xs="column" id="container"> -->
	<div fxAlign="center" fxLayout="column" fxLayoutAlign="center center" id="adventuretitle" class="sectiontitle">
		<h3>OUTDOORS</h3>
	</div>

	<div fxLayout="row" fxLayoutAlign="space-around center" class="paragraph" fxLayoutGap="5%" fxFlex="80">
		<p>
		Grounded by the outdoors.  I feel so blessed to have been immersed to the outdoors at an early age, living in Jackson Hole as a 5 year old learning how to ski and exploring the ranchlands with my golden retriever, cross country skis, and a kite.    
		Continued exploration and self-growth in the outdoors is an important way for me to stay grounded, healthy, and happy. Balance is important for me in all aspects of life and nature helps me see the worlds subtleties in motion and apply them to my own goals.
		Lately my passion has focused on rock climbing, backpacking, and trail running.  
		</p>
	</div>
	<div class="tilerow" fxLayout="row" fxLayoutAlign="space-around center" fxLayout.xs="column" fxLayoutGap="5%">
		<div fxFlex class="imgcontainer">
			<img class="advimg mat-elevation-z8" src="assets/images/jackson_bw.jpg" layout-fill>
		</div>
		<div fxFlex class="imgcontainer">
			<img class="advimg mat-elevation-z8"  src="assets/images/backlitclimber_bw.jpg" layout-fill>
		</div>
		<div fxFlex class="imgcontainer">
			<img class="advimg mat-elevation-z8" src="assets/images/runboze_bw.jpg" layout-fill>
		</div>
	</div>
</div>