#textcontainer {
	background-color: #f08080;
	width: 100%;
	height: auto;
	padding-bottom: 2%;
	padding-top: 2%;
	min-height: 300px;
}

h3 {
	font-family: 'Simplifica';
}

p {
	color: white;
	font-family: 'Simplifica';
	letter-spacing: .04em;
    font-size: 1.4em;
}

.textbox { 
	text-align: center;
}