#textcontainer {
	background-color: #f08080;
	width: 100%;
	height: auto;
	padding-bottom: 2%;
	padding-top: 2%;
	min-height: 300px;
}

h3 {
	font-family: 'Simplifica';
	letter-spacing: 0.04em;
}

p {
	color: white;
	font-family: 'Simplifica';
	letter-spacing: 0.04em;
    font-size: 1.2em;
}

.textbox { 
	text-align: center;
}