#herocontainer {
	position: relative;
	width: 100%;
	height: auto;
	background-color: #000000;
}

svg {
	width: 100%;
	height: 100%;
	left: 0px; 
	top: 0px;
	z-index: 2;
	/*position: absolute;*/
}

.floatbutton {
    position: absolute;
    bottom: 5%;
    z-index: 10;
    background-color: #f08080;
    color: white;
    opacity: 0;
}


.iconrow {
	position: absolute;
	top:1.5%;
	width: 100%;
	padding-left: 48px;
	padding-right: 48px;
	padding-bottom: 0px;
	max-height: 45vh;
	height: auto;
}