<div class="linkscontainer" fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="2%">
	<div fxFlex="25" class="links">
		<a (click)=openEmailDialog()>
			<mat-icon style="color: white">email</mat-icon>
		</a>
	</div>
	<div fxFlex="25" class="links">
		<a href="https://www.instagram.com/fjordsofmarin/" target="_blank">
			<mat-icon svgIcon="instagram" style="color: white"></mat-icon>
		</a>
	</div>
	<div fxFlex="25" class="links">
		<a href="https://www.linkedin.com/in/fordnickels/" target="_blank">
			<mat-icon svgIcon="linkedin" style="color: white"></mat-icon>
		</a>
	</div>
	<div fxFlex="25" class="links">
		<a href="https://github.com/fordN" target="_blank">
			<mat-icon svgIcon="github" style="color: white"></mat-icon>
		</a>
	</div>
</div>