.svgtile {
	width: 100%;
	height: auto;
	position: relative;
}

.animatedest {
	visibility: hidden;
	position: absolute;
	top: 100%;
}

.mat-card-title {
	font-family: "Simplifica";
	font-size: 1.5em;
	color: black;	
}
.mat-card-subtitle {
	font-family: "Simplifica";
	font-size: 1.2em;
	color: rgba(0,0,0,.54);
}